<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='css/index.css' />
    <script src='js/index.js'></script>
    <title>Nest App</title>
  </head>
  <body>
    <h1>Hey Man This is Home page</h1>
    <h2>Template engine handlebars</h2>
    <h3>data from backend</h3>
    {{#each stores}}
      <h4>Title : {{this.title}}</h4>
      <p>Author: {{this.author}}</p>
      <p>Published: {{this.Published}}</p>
    {{/each}}

    <button onclick='clicked()'>Click Me</button>

  </body>
</html>